/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  margin: 1em auto 2em;
  line-height: 1.5em;
}

/*
 * Title
 */

.site .title {
  display: inline-block;
}

.site .desc {
  font-size: 1em;
  color: gray;
  padding-left: 2em;
}


.site .title a {
  color: #a00;
}

.site .title a:hover {
  color: #000;
}


/*
 * Header
 */

.header a {
  font-weight: bold;
  text-decoration: none;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

/*
 * Footer
 */
.footer {
  font-size: 80%;
  color: #666;
  border-top: 2px solid #ccc;
  margin-top: 5em;
  overflow: hidden;
  padding: 15px 5px;
  text-align: left;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/*
 * Post Title
 */
.meta {
  color: #aaa;
}


/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}


/*****************************************************************************/
/*
/* Post
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

.post h1 {
    color: blue;
    font-size: 1.5em;
    padding: 5px 0 10px 0;
}

#home h1 {
  font-size: 1.2em;
}


/*****************************************************************************/
/*
/* Nav
/*
/*****************************************************************************/
/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}


/*
 * Masthead for nav
 */

.blog-masthead {
  text-align: left;
  background-color: #2d2d2d;
  box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}
.blog-nav-item:visited {
  color: #fff;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right:  5px solid transparent;
  border-bottom: 5px solid;
  border-left:   5px solid transparent;
}
